dist/feedback.html
<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link href="style.css" rel="stylesheet"></head>
  <body>   
    <div id="menu">
      <div class="btn-close">
        <button class="close-button" id="close"></button>
      </div>
      <div class="phone">31-11-91</div>
      <ul class="nav-info"></ul>
      <li><a class="nav-item" href="#">Пицца</a></li>
      <li><a class="nav-item" href="#">Акции</a></li>
      <li><a class="nav-item" href="#">Отзывы</a></li>
      <li><a class="nav-item" href="#">Доставка и оплата</a></li>
      <li><a class="nav-item" href="#">Почему мы любим пиццу</a></li>
      <div class="detail-info">
        <div class="info-block"><img class="detail-info-image" src="./assets/img/address-logo.png" alt="">
          <div class="address">г. Саранск,<br>Переулок Кириллова, 2Б</div>
        </div>
        <div class="info-block"><img class="detail-info-image" src="./assets/img/time-logo.png" alt=" ">
          <div class="time"><b>пн-чт</b>:  9:00 - 22:00<br><b>пт-вс</b>:  10:00 - 23:00</div>
        </div>
      </div>
    </div>
    <div id="panel">
      <div class="btn-open">
        <button class="toggle-button"></button>
      </div>
      <header>
        <div class="container"> 
<div class="header"><img class="header-logo" src="./assets/img/Pizza-logo.png" alt="">
  <div class="header-info">
    <div class="top-info">
      <div class="detail-info"><img class="detail-info-image" src="./assets/img/address-logo.png" alt="">
        <div class="address">г. Саранск,<br>Переулок Кириллова, 2Б</div><img class="detail-info-image" src="./assets/img/time-logo.png" alt=" ">
        <div class="time"><b>пн-чт</b>:  9:00 - 22:00<br><b>пт-вс</b>:  10:00 - 23:00</div>
      </div>
      <div class="phone">31-11-91</div>
    </div>
    <ul class="nav-info">
      <li><a class="nav-item" href="#">Пицца</a></li>
      <li><a class="nav-item" href="#">Акции</a></li>
      <li><a class="nav-item" href="#">Отзывы</a></li>
      <li><a class="nav-item" href="deliveryOrder.html">Доставка и оплата</a></li>
      <li><a class="nav-item" href="lovePizza.html">Почему мы любим пиццу</a></li>
    </ul>
  </div><a class="basket-button" href="basket.html"><img class="basket-img" src="./assets/img/basket-basket-box.png" alt=""><img class="basket-box-line" src="./assets/img/basket-box-line.png" alt="">
    <div class="count">3</div></a>
</div>
        </div>
      </header>
      <main>
<div class="feedback">
  <div class="feedback-img" style="background-image:url(./assets/img/feedback-logo.png)">
    <div class="feedback-assessment-cursor"><img class="feedback-assessment-item" src="./assets/img/heart.png" alt=""><img class="feedback-assessment-item" src="./assets/img/heart.png" alt=""><img class="feedback-assessment-item" src="./assets/img/heart.png" alt=""><img class="feedback-assessment-item" src="./assets/img/heart.png" alt=""><img class="feedback-assessment-item" src="./assets/img/heart.png" alt=""><img class="feedback-cursor" src="./assets/img/cursor.png" alt="">
    </div>
    <div class="feedback-text-bold">А вам понравилась наша пицца?</div>
    <div class="feedback-text">Оцените нашу пиццу по пятибальной шкале или напишите отзыв, это поможет нам стать еще лучше!</div>
    <div class="feedback-heart"><img class="feedback-heart-item" alt=""><img class="feedback-heart-item" alt=""><img class="feedback-heart-item" alt=""><img class="feedback-heart-item" alt=""><img class="feedback-heart-item" src="./assets/img/heart-small.png" alt="">
    </div>
    <button class="feedback-make">Оставить отзыв</button>
  </div>
  <div class="feedback-item">
    <div class="feedback-item-name-date">
      <div class="feedback-item-name">Максим А.</div>
      <div class="feedback-item-date">20. 06. 2019</div>
    </div>
    <div class="feedback-item-heart"></div>
    <div class="feedback-item-text">Вкуснейшая горячая пицца, мгновенная доставка. Супер! Всё понравилось, рекомендую каждому!!)</div>
    <div class="feedback-item-input"></div>
  </div>
  <div class="feedback-item">
    <div class="feedback-item-name-date">
      <div class="feedback-item-name">Анна К.</div>
      <div class="feedback-item-date">29. 05. 2019</div>
    </div>
    <div class="feedback-item-heart"></div>
    <div class="feedback-item-text">Безумно вкусная пицца! Заказываем теперь только здесь. Тесто тонкое и просто тает во рту.</div>
    <div class="feedback-item-input"></div>
  </div>
  <div class="feedback-item">
    <div class="feedback-item-name-date">
      <div class="feedback-item-name">Андрей В.</div>
      <div class="feedback-item-date">27. 05. 2019</div>
    </div>
    <div class="feedback-item-heart"></div>
    <div class="feedback-item-text">Пицца очень вкусная, как домашняя, только приготовленно профессионалом. Особенно понравилась морская. Не пожалели креветок, мидий, сыра, кальмаров. Я большая любительница море продуктов, поэтому эта пицца по мне.</div>
    <div class="feedback-item-input"></div>
  </div>
  <div class="feedback-item">
    <div class="feedback-item-name-date">
      <div class="feedback-item-name">Марина К.</div>
      <div class="feedback-item-date">21. 05. 2019</div>
    </div>
    <div class="feedback-item-heart"></div>
    <div class="feedback-item-text">Безумно вкусная пицца! Заказываем теперь только здесь. Тесто тонкое и просто тает во рту.</div>
    <div class="feedback-item-input"></div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="footer-block">
      <div class="footer-logo-and-info"><img class="footer-logo" src="./assets/img/footer-logo.png" alt="">
        <div class="footer-info">   
          <div class="footer-info-block"> 
            <div class="footer-info-block-block">
              <div class="footer-block-block-text">Пицца</div>
              <div class="footer-block-block-text">Акции</div>
              <div class="footer-block-block-text">Отзывы</div>
            </div>
            <div class="footer-info-block-block">
              <div class="footer-block-block-text">Доставка и оплата</div>
              <div class="footer-block-block-text">Почему мы любим пиццу?</div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-address-phone">
        <div class="footer-address-time">
          <div class="footer-address"><img class="detail-info-image" src="./assets/img/footer-address.png" alt="">
            <div class="footer-block-block-text">г. Саранск, Переулок Кириллова, 2Б</div>
          </div>
          <div class="footer-time">  <img class="detail-info-image" src="./assets/img/footer-time.png" alt=" ">
            <div class="footer-block-block-text">пн-чт:  9:00 - 22:00 пт-вс:  10:00 - 23:00</div>
          </div>
        </div>
        <div class="footer-phone-inst">
          <div class="footer-phone">31-11-91</div>
          <div class="footer-inst"></div>
        </div>
      </div>
    </div>
  </div>
</div>
      </main>
    </div>
  <script src="bundle.js"></script></body>
</html>

src/feedback.pug
-
    var menu = [
        {
            name: "Пицца",
            href: "#"
        },
        {
            name:"Акции",
            href:"#"
        }
        ,
        {
            name:"Отзывы",
            href:"#"
        }
        ,
        {
            name:"Доставка и оплата",
            href:"#"
        }
        ,
        {
            name:"Почему мы любим пиццу",
            href:"#"
        }
    ]
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body    

        #menu
            .btn-close
                button.close-button#close
            .phone 31-11-91
            ul.nav-info
            for inner in menu
                li
                    a(href= inner.href).nav-item= inner.name
            .detail-info
                .info-block
                    img.detail-info-image(src="./assets/img/address-logo.png", alt="")
                    .address г. Саранск,<br>Переулок Кириллова, 2Б
                .info-block
                    img.detail-info-image(src="./assets/img/time-logo.png", alt=" ")  
                    .time <b>пн-чт</b>:  9:00 - 22:00<br><b>пт-вс</b>:  10:00 - 23:00
            
        #panel
            .btn-open
                button.toggle-button

            header
                .container 
                    include ./pug//modules/header.pug
            main
                include ./pug//modules/feedback-main.pug
                include ./pug//modules/footer.pug
